@model Bug_Management_App.Models.Bugs

@{
    ViewBag.Title = "Index";
    
}
<style type="text/css">
    body {
        background: #dddddd !important;
    }
</style>



@using (Html.BeginForm("Create", "Bugs", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
                @Html.AntiForgeryToken()

            <div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div style="height: 121vmin" class="forms-wrap col-md-8">
            <div class="form-horizontal">
                <div class="forms-html">
                    <div class="title-text">BUGS</div>
                    <div class="form-content">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ProjectId)
                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "project-label col-md-2" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "project-input" } })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.OperatingSystem, htmlAttributes: new { @class = "project-label col-md-2" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.OperatingSystem, new { htmlAttributes = new { @class = "project-input" } })
                                @Html.ValidationMessageFor(model => model.OperatingSystem, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.OSVersion, htmlAttributes: new { @class = "project-label col-md-2" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.OSVersion, new { htmlAttributes = new { @class = "project-input" } })
                                @Html.ValidationMessageFor(model => model.OSVersion, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.AppVersion, htmlAttributes: new { @class = "project-label col-md-2" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.AppVersion, new { htmlAttributes = new { @class = "project-input" } })
                                @Html.ValidationMessageFor(model => model.AppVersion, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "project-label col-md-2" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "project-input" } })
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "project-label col-md-2" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "project-input" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.VideoLink, htmlAttributes: new { @class = "project-label col-md-2" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.VideoLink, new { htmlAttributes = new { @class = "project-input" } })
                                @Html.ValidationMessageFor(model => model.VideoLink, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "project-label col-md-6" })
                            <div class="col-md-12">
                                <input type="file" name="bugImage" accept="images/*" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class=" col-md-10">
                                <input type="submit" value="Create" class="project-btn" />
                            </div>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>



}


