@model Bug_Management_App.Dtos.CreateProjectDto

@{
    ViewBag.Title = "CreateProject";
}
<style type="text/css">
    body {
        background: #dddddd !important;
    }
</style>

@using (Html.BeginForm("Create","Projects", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div style="height: 92.3vmin" class="forms-wrap col-md-8" >
            <div class="form-horizontal">
                <div class="forms-html">
                    <div class="title-text">REGISTRO DE PROYECTO</div>
                    <div class="form-content">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="group form-group">
                            @Html.LabelFor(model => model.ProjectName, htmlAttributes: new { @class = "project-label  col-md-6" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "project-input" } })
                                @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Logo, htmlAttributes: new { @class = "project-label col-md-6" })
                            <div class="col-md-12">
                                <input type="file" name="imageLogo" accept="images/*" />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "project-label col-md-6" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "project-input" } })
                                @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ProjectManager, htmlAttributes: new { @class = "project-label col-md-6" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.ProjectManager, new { htmlAttributes = new { @class = " project-input" } })
                                @Html.ValidationMessageFor(model => model.ProjectManager, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "project-label col-md-6" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = " project-input" } })
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="project-label col-offset-9 col-sm-8">
                                <input type="submit" value="CREAR" class="project-btn" />
                            </div>
                        </div>
                        <div>
                            @Html.ActionLink("Back", "Index")
                        </div>
                    </div> 
                </div>
            </div>   
        </div>
    <div class="col-md-2"></div>
    </div>
</div>
   

}


