@model IEnumerable<Bug_Management_App.Models.Projects>
@{
    ViewBag.Title = "Index";
}
<div>
    <ul class="nav filters-style nav-pills ">
        <li class="nav-item">
            @Html.ActionLink("Todos", "SortProjects", "Projects", new { sortId = 0 }, new { @class = "nav-link"} )
        </li>
        <li class="nav-item">
            @Html.ActionLink("Fecha", "SortProjects", "Projects", new { sortId = 1 }, new { @class = "nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Alfabetico", "SortProjects", "Projects", new { sortId = 2 }, new { @class = "nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Creados por mí", "SortProjects", "Projects", new { sortId = 3 }, new { @class = "nav-link" })
        </li>
        <li class="nav-item">
           
        </li>
    </ul>
</div>

<div class="container-style container">
    <div class="scrollbar">
        <div class="row projects-dashboard">
            @foreach (var item in Model.Select((value, index) => new { value, index }))
            {
                if (item.index == 0 || item.index % 4 == 0)
                {
                    @Html.Raw("<div class = 'row'>")
                }
                <div class="column">
                    <a class="link-style" href="@Url.Action("ViewG","Projects")">
                        <div class="card">
                            <h3>@item.value.ProjectName</h3>

                            <p><img src="@ViewBag.ImagesData[item.index]" width="50" height="50" /></p>

                            <p>Company name: @item.value.CompanyName</p>

                            <p>Project Manager: @item.value.ProjectManager</p>

                            <p>Status: @item.value.Status</p>


                            <div class="row"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.ActionLink("Bugs", "BugsIndex", "Bugs", new { projectId = item.value.ProjectId }, new { @class = "btn" })
                                </div>
                                <div class=" col-md-6">
                                    @Html.ActionLink("Team", "BugsForm", "Bugs", new { projectId = item.value.ProjectId }, new { @class = "btn" })
                                </div>
                            </div>

                            <p>@Html.ActionLink("Editar proyecto", "SendProjecToEdit", "Projects", new { projectId = item.value.ProjectId }, new { @class = "btn btn-primary", @style = "color:white" })</p>

                            <p>@Html.ActionLink("Eliminar", "Delete", "Projects", new { projectId = item.value.ProjectId }, new { @class = "btn btn-primary", @style = "color:white" })</p>


                        </div>
                    </a>


                </div>
                if ((item.index + 1) % 4 == 0 || item.index + 1 == Model.Count())
                {
                    @Html.Raw("</div>")
                }
            }
            <a class="float" href="@Url.Action( "Create", "Projects")"><p class="plus">+</p></a>
        </div>     
    </div> 
</div>





