@model IEnumerable<Bug_Management_App.Models.Projects>
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <ul class="nav nav-tabs filters-style">
        <li class="nav-item">
            <a class="nav-link" href="#">Todos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Fecha</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Nombre del proyecto</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Creados por mí</a>
        </li>
        <li class="nav-item navbar-right ">
            @Html.ActionLink("Agregrar proyecto", "Create", "Projects", null, new { @class = "btn btn-primary", @style = "color:white" })
        </li>
    </ul>
    
    <div class="row ">
        @foreach (var item in Model.Select((value, index) => new { value, index }))
        {
            <div class="column">
                <div class="card">
                    <h3>@item.value.ProjectName</h3>

                    <p><img src="@ViewBag.ImagesData[item.index]" width="50" height="50" /></p>

                    <p>Company name: @item.value.CompanyName</p>

                    <p>Project Manager: @item.value.ProjectManager</p>

                    <p>Status: @item.value.Status</p>

                    <p>@Html.ActionLink("Editar proyecto", "SendProjecToEdit", "Projects", new { projectId = item.value.ProjectId }, new { @class = "btn btn-primary", @style = "color:white" })</p>

                    <p>@Html.ActionLink("Eliminar", "Delete", "Projects", new { projectId = item.value.ProjectId }, new { @class = "btn btn-primary", @style = "color:white" })</p>
                </div>
            </div>
        }
    </div>
</div>





