@model IEnumerable<Bug_Management_App.Models.Projects>
@{
    ViewBag.Title = "Index";
}



<div class="container">
    <ul class="nav nav-tabs filters-style">
        <li class="nav-item">
            <a class="nav-link" href="#">Filtro</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Filtro2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Filtro</a>
        </li>
        <li class="nav-item navbar-right ">
            @Html.ActionLink("Agregrar proyecto", "Create", "Projects", new { @class = "btn btn-primary", @style = "color:white" } )
        </li>
    </ul>

    <table class="table table-hover">
        <thead class="thead-style">
            <tr>
                <td>Nombre de proyecto</td>
                <td>Logo</td>
                <td>Compañia</td>
                <td>Project Manager</td>
                <td>Status</td>
                <td></td>
                <td></td>
            </tr>
        </thead>


        @foreach (var item in Model.Select((value, index) => new { value, index }))
        {
            <tbody>
                <tr>
                    <td>@item.value.ProjectName</td>

                    <td><img src="@ViewBag.ImagesData[item.index]" width="50" height="50" /></td>

                    <td>@item.value.CompanyName</td>

                    <td>@item.value.ProjectManager</td>

                    <td>@item.value.Status</td>

                    <td>@Html.ActionLink("Editar proyecto", "SendProjecToEdit", "Projects", new { projectId = item.value.ProjectId }, null)</td>

                    <td>@Html.ActionLink("Eliminar", "Delete", "Projects", new { projectId = item.value.ProjectId }, null)</td>

                </tr>

            </tbody>

        }
    </table>
</div>





